body{
    color: black;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(ayodejiimages.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.btn{
    border: none;
    margin: 0px;
    padding: 10px;
    color: white;
    background-color: grey;
    font-size: 15px;

    

    


}
.boy-2{
    margin: 0px;
    padding: 300px;
}
